/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  background-color: rgba(10, 10, 10, 0.2);
}

.homepage {
  background-image: url("/images/Background.jpg");
  background-size: cover;
  height: 450px;
}

:root {
  --primary-color: rgba(10, 10, 10, 0.5);
  --secondary-color: rgba(10, 10, 10, 0.8);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 60px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 60px;
  margin-top: 40px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

hr {
  border-top: 3px dotted black;
}

.name {
  color: white;
}
.job {
  color: white;
  position: relative;
  font-size: 44px;
  top: 100px;
}

.adjective {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 100px;
}

.about-me-btn {
  color: white;
  background-color: black;
  border: 1px solid white;
  position: relative;
  top: 100px;
  left: 60px;
}

.about-me-btn:hover {
  color: black;
  background-color: white;
}

.work {
  margin-top: 100px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  text-align: center;
  max-width: 250px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 20px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.collapse ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(41, 43, 42);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.collapse ul li:hover::after {
  width: 100%;
}

@media (max-width: 740px) {
  h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    margin-top: 10px;
  }

  .job {
    font-size: 28px;
    color: white;
  }

  .name {
    font-size: 40px;
  }

  .adjective {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 80px;
  }

  .primary-link {
    display: block;
    text-align: center;
    max-width: 500px;
  }

  .about-me-btn {
    display: flex;
    left: 20px;
  }
}
