/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
.homepage {
  background-image: url("/images/background1.jpg");
  background-size: cover;
  height: 100vh;
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 60px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  margin-top: 40px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.job {
  color: white;
}

.adjective {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: 240px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 20px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.collapse ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(41, 43, 42);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.collapse ul li:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    margin-top: 10px;
  }

  .homepage {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.219);
    height: 900px;
  }

  .name {
    color: white;
  }

  .adjective {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-shadow: black 1px 1px 2px 0.9;
    position: relative;
    top: 140px;
  }
}
